$background: #E0D7C8;

.equip-card {
	background-color: $background;
	border: 1px solid brown;
	border-radius: 20px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, .20);
	padding: 40px 15px;
	font-size: 0.9rem;
	text-decoration: none;
	user-select: none;
}

h6.small-header {
	font-size: 0.9rem;
}

h6.tiny-header {
	font-size: 0.7rem;
}

.underlined {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.padded {
	padding: 20px;
}

.margin-top {
	margin-top: 40px;
}

.margin-left {
	margin-left: 5px;
}