$background: #E0D7C8;

.equip-list-item {
	padding: 20px;
	margin: 5px 0px;
	border-radius: 20px;
	max-height: 75px;
	transition: max-height 0.25s ease-in;

	&:hover {
		cursor: pointer;
		background-color: darken($background, 10%);

		&:active {
			background-color: darken($background, 15%);
		}
	}

	.equip-details {
		visibility: hidden;
		font-size: 0.55rem;
		white-space: nowrap;
		overflow-x: visible;
	}

	&.selected {
		background-color: darken($background, 10%);
		border: 1px solid #615536;
		max-height: 200px;

		.equip-details {
			visibility: visible;
			transition: visibility 0s linear 0.20s;
		}
	}
}