.layout-item {
	$size: 4.5rem;
	$margin: 0.1875rem;
	height: $size;
	width: $size;
	background-size: $size;
	margin: $margin;
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
	user-select: none;

	&:hover {
		cursor: pointer;
	}

	&.cape {
		margin-right: -1.875rem;
	}

	&.ammo {
		margin-left: -1.875rem;
	}

	&.selected {
		outline: 2px solid white;
	}

	.layout-img {
		$imgSize: $size - $margin;
		height: $imgSize;
		width: $imgSize;
		margin: $margin;
		padding: $margin;
	}
}